.order-tab {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #1f7aff;
    padding-left: 0;
    .total-prod {

    }

    .sort {
        .item {
            position: relative;
            ul {
                display: none;
                position: absolute;
                top: 140%;
                right: 0;
                width: 111px;
                background: white;
                box-shadow: 0 0 30px rgba(0,0,0,.1);
                padding: 5px;
                z-index: 1;
                a {
                    &:hover {
                        color: #d81b60;
                    }
                }
                a.active {
                    color: #E91E63;
                }

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -9px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    transform: rotate(-45deg);
                    background-color: #fff;
                    border-radius: 3px;
                    z-index: -1;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px)
{
    .order-tab {
        margin: 0 5px;
        padding: 5px;
    }
}