.page-profile {
    padding: 15px;
    background-color: white;
}
.row {
    display: flex;
    .col{
        &-2 {
            flex: 1 0 16.6666666667%;
        }
        &-3 {
            flex: 1 0 35%;
        }
        &-7 {
            flex: 1 0 58.33333333333%;
        }
    }
    .avatar {
        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
    }
    .info-auth {
        margin: 0 15px;
        h4 {
            color: #232731;
            font-size: 24px;
            line-height: 33px;
        }
        .ratings {
            margin: 5px 0;
            span {
                i {
                    font-size: 20px;
                    color: #eff0f5;
                    &.active {
                        color: #f49a31;
                    }
                }
            }
        }
        .info {
            display: flex;
            .item {
                span {
                    display: block;
                    &:first-child{
                        font-weight: bold;
                    }
                    &:last-child{
                        color: #666;
                        width: 100px;
                    }
                }
            }
        }
    }
}