.top-header {
    background-color: #1c3257;
    padding: .6rem;
    position: relative;
    z-index: 4;

    .btn-recharge {
        background: #E91E63;
        border-radius: 20px;
        padding: 5px 15px !important;
    }

    .content {
        display: flex;
        .left{
            flex-grow: 1;
        }

        a {
            display: inline-block;
            color: #fff;
            padding: 0 10px;
            cursor: pointer;
            &:hover {
                color: #fff !important;
            }
        }
    }
}
.top-header.mobile {
    .left {
        overflow-x: scroll;
        white-space: nowrap;
    }
}
