.comment-user {
    .row {
        display: flex;
        .col-4 {
            .item {
                margin: 5px;
                background-color: white;
                padding: 5px;
                .content {
                    margin-top: 10px;
                    p {
                        border-radius: 5px;
                        color: white;
                        padding: 10px;
                        position: relative;
                        &:before{
                            content: "";
                            display: block;
                            position: absolute;
                            top: -7px;
                            left: 15px;
                            width: 15px;
                            height: 15px;
                            transform: rotate(-45deg);
                        }
                    }
                    .bg-1 {
                        background-color: #53a8a5;
                        &:before{
                            background-color: #53a8a5;
                        }
                    }
                    .bg-2 {
                        background-color: #a8529f;
                        &:before{
                            background-color: #a8529f;
                        }
                    }
                    .bg-3 {
                        background-color: #9fa854;
                        &:before{
                            background-color: #9fa854;
                        }
                    }
                    .bg-4 {
                        background-color: #49a85f;
                        &:before{
                            background-color: #49a85f;
                        }
                    }
                }
            }
            width: 33.33333333333%;
            .header {
                b {
                    font-weight: 600;
                    color: #1c3257;
                }
            }
            .image {
                margin-right: 10px;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
        }
    }
}
.count-number {
    background-image: url(../images/banner/bg-count.png);
    margin: 5px;
    margin-top: 10px;
    .col-4 {
        .item {
            background-color: unset !important;
            text-align: center;
            div, p {
                color: white;
                font-size: 20px;
            }

        }
    }
}
@media (max-width: 767px) {
    .comment-user {
        .row {
            flex-direction: column;
            .col-4 {
                width: 100%;
                .item {
                    border-bottom: 1px dotted white;
                }
            }
        }
    }
}
