.home {
    display: flex;
    .left {
        width: 75%;
    }

    .right {
        width: 25%;
        margin-left: 10px;
        .contact-box {
            .item {
                border-bottom: 1px solid #f2f2f2;
                margin-bottom: 5px;
                padding-bottom: 5px;
            }
        }
        .box {
            padding: 10px;
            background-color: white;
            margin-top: 15px;
            .item {
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
                .info {
                    p {
                        display: flex;
                        justify-content: space-between;
                        span{
                            font-weight: bold;
                        }
                    }
                }
                ul {
                    li {
                        line-height: 20px;
                        margin-bottom: 10px;
                        font-size: 15px;
                    }
                }
                .number {
                    background: #dedede;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    border-radius: 50%;
                    text-align: center;
                    margin-right: 5px;
                }
            }
            .item-support{
                text-align: center;
                span {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .home {
        flex-direction: column;
        .left {
            width: 100%;
        }

        .right {
            width: 100%;
            margin-left: 0;
            .box {
                margin: 5px;
            }
        }
    }
}
